@{
    ViewData["Title"] = "Dashboard";
}

<!--<div class="container">
    <div class="card-deck flex-row flex-nowrap">
        <a href="http://google.com">
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Alberobello_BW_2016-10-16_13-43-03.jpg/250px-Alberobello_BW_2016-10-16_13-43-03.jpg" alt="Card image cap">-->


                <!-- THIS DIV IS NOT CLICKABLE BUT I WANT IT TO BE -->
                <!--<div class="card-body">
                    <h3 class="card-sub align-middle">Card Title</h3>
                    <p class="time-card">2 Days Ago</p>
                </div>--><!-- END CARD-BODY -->
        <!--</a>
    </div>--><!-- END CARD -->
    <!--</a>

</div>--><!-- END CARD DECK -->
<!--</div>--><!-- END CONTAINER -->


<!--<div class="container">
    <div class="card-deck flex-row flex-nowrap">
        <a href="http://google.com">
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Alberobello_BW_2016-10-16_13-43-03.jpg/250px-Alberobello_BW_2016-10-16_13-43-03.jpg" alt="Card image cap">-->


                <!-- THIS DIV IS NOT CLICKABLE BUT I WANT IT TO BE -->
                <!--<div class="card-body">
                    <h3 class="card-sub align-middle">Card Title</h3>
                    <p class="time-card">2 Days Ago</p>
                </div>--><!-- END CARD-BODY -->
        <!--</a>
    </div>--><!-- END CARD -->
    <!--</a>

</div>--><!-- END CARD DECK -->
<!--</div>--><!-- END CONTAINER -->


 <h1>Home</h1>